*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background: white;
    padding: 30px 10%;   
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
img{
    width: 60px;
    cursor: pointer;
}
.navi{
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    align-items: center;
}
.button{
    border: none;
    border-radius: 10px;
    background-color: #0473FF;
    color: white;
    width: 100px;
    height: 35px;
    box-shadow: 0px 4px 4px rgba(25, 51, 90, 0.4);
    cursor: pointer;
}
.button:hover{
    background-color: #30D1FF;
    color: white;
}
.search_box{
    display: flex;
    margin: auto 0;
    height: 30px;
    line-height: 30px;
}
.search_box input{
    border: none;
    outline: none;
    background: #E1EAF9;
    height: 100%;
    font-size: 16px;
    width: 300px;
    padding: 7px 10px;
    border-radius: 10px 0 0 10px;
}
.search_box span{
    color: white;
    font-size: 16px;
    background: #0473FF;
    height: 100%;
    padding: 6px 8px 0px 8px;
    border-radius: 0px 10px 10px 0px;
    position: relative;
    cursor: pointer;
    z-index: 1;
}
.search_box span:hover{
    background-color: #30D1FF;
    color: white;
}
/*end of header*/

.policy{
    position: absolute;
    width: 100%;
    height: 34px;
    margin: 100px 35%;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #000000;
}

.title{
    position: absolute;
    width: 500px;
    left: 73px;
    top: 330px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 29px;
    color: #0095F6;
}

.concept1{
    position: absolute;
    width: 100%;
    height: 150px;
    left: 73px;
    top: 380px;
    
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    
    color: black;
}

.concept2{
    position: absolute;
    width: 100%;
    height: 106px;
    left: 73px;
    top: 480px;
    
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    
    color: black;
}

.concept3{
    position: absolute;
    width: 100%;
    height: 106px;
    left: 73px;
    top: 580px;
    
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    
    color: black;
}

.option1{
    position: absolute;
    width: 100%;
    height: 106px;
    left: 73px;
    top: 700px;
    
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    
    color: #0095F6;
}

.option2{
    position: absolute;
    width: 100%;
    height: 106px;
    left: 73px;
    top: 750px;
    
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    
    color: #0095F6;
}

.option3{
    position: absolute;
    width: 100%;
    height: 106px;
    left: 73px;
    top: 800px;
    
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    
    color: #0095F6;
}

.option4{
    position: absolute;
    width: 100%;
    height: 106px;
    left: 73px;
    top: 850px;
    
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    
    color: #0095F6;
}

.option5{
    position: absolute;
    width: 100%;
    height: 106px;
    left: 73px;
    top: 900px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    
    color: #0095F6;
}

.option6{
    position: absolute;
    width: 100%;
    height: 106px;
    left: 73px;
    top: 950px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    
    color: #0095F6;
}