*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background: white;
    padding: 30px 10%;   
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
img{
    width: 60px;
    cursor: pointer;
}
.navi{
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    align-items: center;
}
.btn{
    border: none;
    border-radius: 10px;
    background-color: #0473FF;
    color: white;
    width: 100px;
    height: 35px;
    box-shadow: 0px 4px 4px rgba(25, 51, 90, 0.4);
    cursor: pointer;
}
.btn:hover{
    background-color: #30D1FF;
    color: white;
}
.search_box{
    display: flex;
    margin: auto 0;
    height: 30px;
    line-height: 30px;
}
.search_box input{
    border: none;
    outline: none;
    background: #E1EAF9;
    height: 100%;
    font-size: 16px;
    width: 300px;
    padding: 7px 10px;
    border-radius: 10px 0 0 10px;
}
.search_box span{
    color: white;
    font-size: 16px;
    background: #0473FF;
    height: 100%;
    padding: 6px 8px 0px 8px;
    border-radius: 0px 10px 10px 0px;
    position: relative;
    cursor: pointer;
    z-index: 1;
}
.search_box span:hover{
    background-color: #30D1FF;
    color: white;
}
.container{
    max-width: 700px;
    width: 100%;
    background: #9BC7FF;
    margin: 30px 10%;
    padding: 25px 30px;
    border-radius: 5px;
     
}
.container .title{
    font-size: 30px;
    position: relative;
}
.container form .user-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 18px 0 8px 0;
}
form .user-info .input-box{
    margin-bottom: 20px;
    width: calc(100% / 2 - 20px);
}
.user-info .input-box .details{
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
    font-size: 20px;
}

.user-info .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 10px;
    border: none;
    padding-left: 15px;
    font-size: 16px;
}
form .button{
    height: 45px;
    margin: 45px 0;
}

form .button input{
    width: 120px;
    height: 40px;
    background: #1F299C;
    border: 2px solid #1F299C;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
}
form .button input:hover{
    background-color: #30D1FF;
    color: #1F299C;
    border: none;
}
